<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="flag" content="five_bucks_if_you_beat_Shahar_to_it">
    <title>Download Server</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon_16.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon/favicon_32.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--This is for nice mobile scaling-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  
  <body onload="query()">
    <div class="container">

      <div class="section header" id="header">
        <h2>Download Server</h2>
      </div>

      <ul id="file-box" class="section list-group body">
        
        <li id="file-box-label" class="list-group-item" 
          style="display: grid; grid-template-columns: 50% [col-title] 50% [col-query]">
          <h5 style="display: flex; align-items: center; margin-bottom: 0">File Browser</h5>
          <input id="query-box" class="form-control" name="query" type="text" 
            placeholder="Query" aria-label="Search" value="" onchange="query()" 
            onpaste="query()" onkeydown="query()" oninput="query()" 
            style="grid-column-start: col-title; grid-column-end: col-query">
          <script src="{{url_for('static', filename='js/query.js')}}"></script>
        </li>

        {% for file in filedict %}
          <li id="file-{{ loop.index }}" 
            data-name="{{ filedict[file]['name'] }}" 
            data-type="{{ filedict[file]['type'] }}"
            class="list-group-item ">
            <span class="item-index">{{ loop.index }}</span>
            <a href="/uploads/{{ file }}">{{ filedict[file]["name"] }}</a>
            <span style="float: right" class="badge badge-secondary badge-pill">{{ filedict[file]["type"] }}</span>
          </li>
        {% endfor %}

        <li id="file-box-empty" class="list-group-item" style="display: none">
          <span style="margin-bottom: 0">No results found.</h5>
        </li>

      </ul>

      <div class="section card" >
        <div class="card-body">
          <h5 class="card-title">File Uploader</h5>
          <p class="card-text" style="font-size: 12pt !important">Upload any file to the site for quick remote access.</p>
          <form id="uploader" class="d-flex justify-content-between align-items-center" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" >
            <input type="file" style="width: 75%" name="file" id="file">
            <input type="submit" class="btn btn-primary" onclick="var e = document.getElementById('password'); e.value = prompt('Password:');" name="submit" value="Submit">
            <input type="hidden" name="password" id="password">
          </form>
        </div>
        {% if error %}
          <script>
            window.onload = function(){ 
              alert("{{ error }}");
            };
          </script>
        {% endif %}
      </div>
      
      <footer class="footer">
        <p class="d-flex justify-content-between align-items-center" style="font-size: 10pt !important; margin-bottom: 0">
          <span>
            <span class="copy-left">&copy;</span>
            <a href="mailto:bdarnell@ucsb.edu">Ben Darnell</a>
            2020
          </span>
          <span>
            Image Credit: <a style="color: #777" href="https://pixabay.com/users/Manuchi-1728328/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2462431">Денис Марчук</a>
          </span>
        </p>
      </footer>

    </div>
  </body>
</html>